@{
    ViewData["Title"] = "Cadastro";
}
@model OrderModel

<div class="container">
    <h3>Cadastrar novo pedido</h3>
    <hr />
    <form asp-action="CadastrarPedido">
        <div class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h5>Informações gerais</h5>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Nome do destinatário:</label>
                        <div>
                            <input asp-for="NomeDestinatario" class="form-control" />
                            <span asp-validation-for="NomeDestinatario" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Descrição do pedido:</label>
                        <div>
                            <input asp-for="Descricao" class="form-control" />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Valor total do pedido:</label>
                        <div>
                            <input asp-for="Valor" class="form-control" />
                            <span asp-validation-for="Valor" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Telefone de contato:</label>
                        <div>
                            <input asp-for="Telefone" class="form-control" />
                            <span asp-validation-for="Telefone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <h5>Endereço de entrega</h5>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Logradouro:</label>
                        <div>
                            <input asp-for="Endereco!.Logradouro" class="form-control" />
                            <span asp-validation-for="Endereco!.Logradouro" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Número:</label>
                        <div>
                            <input asp-for="Endereco!.Numero" class="form-control" />
                            <span asp-validation-for="Endereco!.Numero" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Complemento:</label>
                        <div>
                            <input asp-for="Endereco!.Complemento" class="form-control" />
                            <span asp-validation-for="Endereco!.Complemento" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Bairro:</label>
                        <div>
                            <input asp-for="Endereco!.Bairro" class="form-control" />
                            <span asp-validation-for="Endereco!.Bairro" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">CEP:</label>
                        <div>
                            <input asp-for="Endereco!.CEP" class="form-control" />
                            <span asp-validation-for="Endereco!.CEP" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Município:</label>
                        <div>
                            <input asp-for="Endereco!.Municipio" class="form-control" />
                            <span asp-validation-for="Endereco!.Municipio" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">UF:</label>
                        <div>
                            <select asp-for="Endereco!.Uf" asp-items="@ViewBag.Estados" class="form-control">
                            </select>
                            <span asp-validation-for="Endereco!.Uf" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cadastrar" class="btn btn-success" />
                    <a asp-controller="Home" asp-action="Index" class="btn btn-info">Voltar para início</a>
                </div>
            </div>
        </div>
    </form>
</div>

