@{
    ViewData["Title"] = "Sobre";
}
<h1>Mais Informações</h1>
<div class="text-center">
    <h4 class="display-4">Informações técnicas</h4>
    <p>Sistema desenvolvido em ASP.NET Core MVC</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
