@{
    ViewData["Title"] = "Sobre";
}

<div class="container">
    <h2>Mais Informações</h2>
    <hr />
    <h5 class="display-5">Informações técnicas</h5>
    <p>Sistema de gerenciamento de pedidos e notificações em tempo real</p>
    <content>
        <p>Ferramentas usadas:</p>
        <ul>
            <li>Api desenvolvida em .NET Core versão 8</li>
            <li>Front desenvolvido um Asp Net Core MVC</li>
            <li>Linguagens: C# e Html</li>
            <li>Banco de dados: Banco não relacional MongoDB</li>
            <li>Biblioteca SignalR para as notificações em tempo real</li>
        </ul>
    </content>
    <p>Veja mais no <a href="https://github.com/EmmanuelEgitoBr/PainelNotificacoes" target="_blank">Repositório do Github</a>.</p>
</div>
